__pycache__/
*.py[cod]
*.pyo

.venv/
.env/
.env
.vscode/

external/
logs/
recordings/
assets/videos/
datasets/
weights/
*.pt
*.onnx
*.torchscript
dist/*.zip
Stanford_Car-*/
runs/
autocam_tracker/tracking/.dynamic_botsort_reid.yaml

.DS_Store
Thumbs.db
